*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    width: 100%;
    height: 80px;
    background-color: white;
    padding: 0 20px;
    font-family: 'Open Sans Condensed', sans-serif;
    /* position: fixed; */
}
#logo{
    float: left;
    width: 70px;
    height: 70px;
    margin: 8px 25px 0 ;
}
.header h2{
    float: left;
    line-height: 80px;
}
.header h2 a{
    text-decoration: none;
    color: black;
}
.leftHeader{
    float: right;
    list-style: none;
    
}
.leftHeader li{
    display: inline-block;
    line-height: 80px;
    position: relative;
}
.leftHeader li a{
    text-decoration: none;
}
.leftHeader li a i{
    font-size: 24px;
    margin-left: 25px;
    color: black;
}
.leftHeader li span{
    margin-left: 10px;
}
.leftHeader li a i:hover{
    color: orange;
}
.submenu{
    position: absolute;
    background-color:white;
    width: 120px;
    font-size: 24px;
    top: 75px;
    right: -10px;
    border-radius: 10px;
    display: none;
}
.submenu li{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}
.leftHeader li:hover .submenu{
    display: block;
}
.submenu li:hover{
    background-color: teal;
    border: 2px solid burlywood;
    border-radius: 5px;    
}
.banner{
    width: 100%;
    height: 250pX;
    background-color: rgb(9, 8, 66);
    padding:25px;
    display: flex;
    flex-direction: row;
    /* justify-content: space-evenly; */
}
.image{
    width: 350px;
    height: 200px;
    /* display: block; */
    margin-left: 30px;
}
.image img{
    width: 350px;
    height: 200px;
}
.candyName h1{
    color: white;
    margin-top:50px;
    margin-left: 50px;
}
.candyName i{
    display: block;
    padding: 10px; 
    float: left;
    color: black;
    font-size: 24px;
    margin-left: 50px;
    margin-top: 50px;
    cursor: pointer;
    background-color: white;
}

.candyName span{
    font-size: 20px;
    margin-left: 10px;
}
.search{
    font-size: 20px;
    margin-left: 10px;
    width: 164px;
    border: none;
}
.search:focus{
    outline: none;
}
fieldset{
    border: 2px solid white;
    width: 300px;
    height: 200px;
    color: white;
    font-size: 20px;
    margin-left: 100px;
    padding: 10px;
}
fieldset legend{
    font-size: 24px;
}
fieldset p{
    text-align: justify;
}

.products{
    margin-top: 20px;
    width: 100%;
    padding: 20px;
    
}

.item{
    /* border: 1px solid black; */
    width: 20%;
    height: 400px;
    float: left;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    padding: 0 15px ;
    font-family: 'Open Sans Condensed', sans-serif;
    margin-bottom: 10px;
}
.item img{
    height:270px;
    width: 100px;
    display: block;
    margin: 15px auto;
    /* display: block; */
    /* background-color: slateblue; */
}
.item h3{
    margin-bottom: 7px;
}
.item:hover{
    border: 5px solid rgb(198, 233, 235);
    transition: .3s;
}
.verticalitem{
    /* border: 1px solid black; */
    width: 20%;
    height: 400px;
    float: left;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    padding: 0 15px ;
    font-family: 'Open Sans Condensed', sans-serif;
    margin-bottom: 10px;
}
.verticalitem img{
    height:100px;
    width: 200px;
    display: block;
    margin: 100px auto;
    /* display: block; */
    /* background-color: slateblue; */
}
.verticalitem h3{
    margin-bottom: 7px;
}
.verticalitem:hover{
    border: 5px solid rgb(198, 233, 235);
    transition: .3s;
}
